<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.javaboy.meeting.mapper.DepartmentMapper">
    <select id="getDepById" resultType="org.javaboy.meeting.model.Department">
        select * from department where departmentid=#{id};
    </select>

    <select id="getAllDeps" resultType="org.javaboy.meeting.model.Department">
        select * from department;
    </select>

    <insert id="adddepartment" parameterType="java.lang.String">
        insert into department (departmentname) values (#{departmentname});
    </insert>

    <select id="getDepByName" resultType="org.javaboy.meeting.model.Department">
        select * from department where departmentname=#{departmentname};
    </select>
    <delete id="deletedep">
        delete from department where departmentid=#{departmentid}
    </delete>

    <update id="updatedep">
        update department set departmentname = #{name} where departmentid=#{id};
    </update>
</mapper>