<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.javaboy.meeting.mapper.EmployeeMapper">

    <select id="loadEmpByUsername" resultType="org.javaboy.meeting.model.Employee">
        select * from employee where username=#{username};
    </select>

    <select id="getAllEmpsByStatus" resultType="org.javaboy.meeting.model.Employee">
        select * from employee where status=#{status}
    </select>

    <insert id="doReg" parameterType="org.javaboy.meeting.model.Employee">
        insert into employee (employeename,username,phone,email,status,departmentid,password,role) values (#{employeename},#{username},#{phone},#{email},#{status},#{departmentid},#{password},#{role});
    </insert>

    <update id="approveaccount">
        update employee set status = #{status} where employeeid=#{employeeid};
    </update>

    <select id="getAllEmps" resultType="org.javaboy.meeting.model.Employee">
        select * from employee where status=#{emp.status}
        <if test="emp.employeename!=null">
            and employeename like concat('%',#{emp.employeename},'%')
        </if>
        <if test="emp.username!=null">
            and username like concat('%',#{emp.username},'%')
        </if>
        limit #{page},#{pagesize}
    </select>

    <select id="getTotal" resultType="java.lang.Long">
        select count(*) from employee where status=#{status}
        <if test="employeename!=null">
            and employeename like concat('%',#{employeename},'%')
        </if>
        <if test="username!=null">
            and username like concat('%',#{username},'%')
        </if>
    </select>

    <select id="getEmpsByDepId" resultType="org.javaboy.meeting.model.Employee">
        select * from employee where departmentid=#{depId};
    </select>
</mapper>